beautifulsoup4>=4.6.0
bs4>=0.0.1
DateTime>=4.2
descartes>=1.1.0
Fiona>=1.7.13
geographiclib>=1.49
geojson>=2.4.0
geopandas>=0.4.0+16.g6f1d4bc
geopy>=1.16.0
ggplot>=0.11.5
lxml>=4.2.4
matplotlib>=2.2.3
numpy>=1.15.0
pandas>=0.23.4
scikit-learn>=0.19.2
scipy>=1.1.0
seaborn>=0.9.0
Shapely>=1.6.4.post2
statsmodels>=0.9.0
xlrd>=1.1.0
